{% extends 'base.html.twig' %}

{% block main %}
	{% if error %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
		  {{ error.messageKey|trans(error.messageData, 'security') }}
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	{% endif %}

	<div class="row">
		<div class="col-4 offset-4">
			<h1 class="text-center">
				Business Finder
			</h1>
			<br />
			<h5 class="text-center">Please login to access the system</h5>
			<br/>
			<form action="{{ path('login') }}" method="post">
			    <div class="form-group">
				    <input type="text" class="form-control" id="txtUsername" name="_username" value="{{ last_username }}" placeholder="Username" />
				</div>

			    <div class="form-group">
				    <input type="password" class="form-control" id="txtPassword" name="_password" placeholder="Password" />
				</div>

				<div class="col-2 offset-5">
			    	<input type="submit" class="btn btn-primary" value="login" />
				</div>
			</form>
		</div>
	</div>

{% endblock %}
