{% extends 'base.html.twig' %}

{% block main %}
	<center>
		<h1>
			Business Finder
		</h1>
		<div class="row">
			<div class="col-6 offset-3" style="padding-top: 50px;">
				<form method="POST" action="{{path('searchCompanies')}}">
					<div class="form-group">
			    		<input type="text" class="form-control" id="txtTextToFind" placeholder="Waht are you looking for?" name="text" required/>
					</div>
					<div>
						<input type="submit" value="search" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</center>
{% endblock %}
