{% extends 'base.html.twig' %}

{% block main %}
		<h1 class="text-center">
			Business Finder
		</h1>
		<h4>{{ company.title }}</h4>
		{% set countCategories = 1%}
		<p> in
			{% for category in company.category %}
				{% if countCategories > 1 %}
				 ,
				{% endif %}
				{{category.description}}
				{% set countCategories = countCategories + 1 %}
			{% endfor%}
		</p>
		<br />
		<h4>About</h4>
		<p>{{ company.description }}</p>
		<p>Address: {{ company.address }}, {{ company.city }} - {{ company.state }}, {{ company.postalCode }}
		</p>
		<p>Phone: {{ company.phone }}</p>
{% endblock %}
