{% extends 'base.html.twig' %}

{% block main %}
		<h1 class="text-center">
			Business Finder
		</h1>
		<div class="text-left">
			<h3>Results for "{{textSearch}}"</h3>
		</div>
		{% set count = 1 %}
		{% for company in companies %}
			<h4>{{ count }}. <a href="{{path('aboutCompany', {'companyId': company.id})}}" style="text-decoration: none !important;">{{ company.title }}</a></h4>
				{% set countCategories = 1%}
				<p> in
					{% for category in company.category %}
						{% if countCategories > 1 %}
						 ,
						{% endif %}
						{{category.description}}
						{% set countCategories = countCategories + 1 %}
					{% endfor%}
				</p>
			{% set count = count + 1 %}
		{% else %}
			No Companies have been found.
		{% endfor %}
{% endblock %}
