{% extends 'base.html.twig' %}

{% block main %}
	<center>
		<h1>
			Business Finder
		</h1>
		<div class="row">
			<div class="col-6 offset-3" style="padding-top: 50px;">
				<form method="POST" action="{{path('createCompanies')}}">
				    <div class="form-group">
						<label for="txtTitle"> Title </label>
					    <input type="text" class="form-control" id="txtTitle" name="title" required minlength="1" maxlength="100" />
					</div>

					<div class="form-group">
						<label for="txtPhone"> Phone </label>
					    <input type="text" class="form-control" id="txtPhone" name="phone" required minlength="1" maxlength="20" />
					</div>

					<div class="form-group">
						<label for="txtAddress"> Address </label>
					    <input type="text" class="form-control" id="txtAddress" name="address" required minlength="1" maxlength="50" />
					</div>

					<div class="form-group">
						<label for="txtPostalCode"> Postal Code </label>
					    <input type="text" class="form-control" id="txtPostalCode" name="postalCode" required minlength="1" maxlength="15" />
					</div>

					<div class="form-group">
						<label for="txtCity"> City </label>
					    <input type="text" class="form-control" id="txtCity" name="city" required minlength="1" maxlength="100" />
					</div>

					<div class="form-group">
					    <label for="selState"> State </label>
					    <select class="form-control" id="selState" name="state" required="">
					      <option value="AC">Acre</option>
					      <option value="AL">Alagoas</option>
					      <option value="AP">Amapá</option>
					      <option value="AM">Amazonas</option>
					      <option value="BA">Bahia</option>
					      <option value="CE">Ceará</option>
					      <option value="DF">Distrito Federal</option>
					      <option value="ES">Espítiro Santo</option>
					      <option value="GO">Goiás</option>
					      <option value="MA">Maranhão</option>
					      <option value="MT">Mato Grosso</option>
					      <option value="MS">Mato Grosso do Sul</option>
					      <option value="MG">Minas Gerais</option>
					      <option value="PA">Pará</option>
					      <option value="PB">Paraíba</option>
					      <option value="PR">Paraná</option>
					      <option value="PE">Pernambuco</option>
					      <option value="PI">Piauí</option>
					      <option value="RJ">Rio de Janeiro</option>
					      <option value="RN">Rio Grande do Norte</option>
					      <option value="RS">Rio Grande do Sul</option>
					      <option value="RO">Rondônia</option>
					      <option value="RR">Roraima</option>
					      <option value="SC">Santa Catarina</option>
					      <option value="SP">São Paulo</option>
					      <option value="SE">Sergipe</option>
					      <option value="TO">Tocantins</option>
					    </select>
					</div>

					<div class="form-group">
					    <label for="txtDescription">Description</label>
					    <textarea class="form-control" id="txtDescription" rows="3" name="description"></textarea>
					</div>

					<div class="form-group">
					    <label for="selCategories">Categories</label>
					    <select multiple class="form-control" id="selCategories" name="categories[]" required>
					    	{% for category in categories %}
								<option value="{{category.id}}">{{category.description}}</option>
							{% endfor %}
					    </select>
					</div>

					<div class="col-2 offset-5">
				    	<input type="submit" class="btn btn-primary" value="create" />
					</div>
				</form>
			</div>
		</div>
	</center>
{% endblock %}
