{% extends 'base.html.twig' %}

{% block main %}
		<h1 class="text-center">
			Business Finder Admin
		</h1>
		<br />
		<div class="float-right">
			<a href="{{path('formCreateCompanies')}}" class="btn btn-primary">Add Company</a>
		</div>
		{% set count = 1 %}
		{% for company in companies %}
			<h3>{{ count }}. {{ company.title }}</h3>
				{% set countCategories = 1%}
				<p> in
					{% for category in company.category %}
						{% if countCategories > 1 %}
						 ,
						{% endif %}
						{{category.description}}
						{% set countCategories = countCategories + 1 %}
					{% endfor%}
				</p>
			{% set count = count + 1 %}
		{% else %}
			No Companies have been found.
		{% endfor %}
{% endblock %}
