<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylessheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        {% endblock %}
        <title>{% block title %}Business Finder{% endblock %}</title>
    </head>
    <body>
    	{% block navbar %}
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">Find</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav mr-auto">
		    </ul>
		    <ul class="navbar-nav mr-rigth">
		    	<li>
		    		<li class="nav-item">
		    			{% if not(is_granted('ROLE_ADMIN')) %}
				        	<a class="nav-link" href="{{path('login')}}">Login</a>
				        {% else %}
				        	<a class="nav-link" href="{{path('listAllCompanies')}}"><i class="fas fa-user"></i> {{app.user.username}}</a>
				        {% endif %}
				    </li>
				    {% if (is_granted('ROLE_ADMIN')) %}
				    	<li class="nav-item">
				    		<a class="nav-link" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i> logout</a>
				    	</li>
				    {% endif %}
		    	</li>
		    </ul>
		  </div>
		</nav>
		{% endblock %}
		<div class="container">
			{% block main%}
			{% endblock %}
		</div>

		{% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
		{% endblock %}
    </body>
</html>
